/*
 * SPDX-License-Identifier: GPL-2.0+
 */

/dts-v1/;
#include "qca955x.dtsi"

/ {
	model = "AP135 Reference Board";
	compatible = "qca,ap135", "qca,qca955x";

	aliases {
		spi0 = &spi0;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&extosc {
	clock-frequency = <40000000>;
};

&uart0 {
	status = "okay";
};

&spi0 {
	spi-max-frequency = <25000000>;
	status = "okay";
	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		memory-map = <0x9f000000 0x00800000>;
		spi-max-frequency = <25000000>;
		reg = <0>;
	};
};
