CONFIG_MIPS=y
CONFIG_MIPS_CACHE_INDEX_BASE=0x800000
CONFIG_MIPS_RELOCATION_TABLE_SIZE=0x8000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DM=y
CONFIG_DM_SERIAL=y
CONFIG_DM_SPI=y
CONFIG_ATH79_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_ARCH_ATH79=y
CONFIG_TARGET_AP135=y
CONFIG_DEFAULT_DEVICE_TREE="ap135"
CONFIG_USE_ENV_SPI_MAX_HZ=y
CONFIG_ENV_SPI_MODE=3
CONFIG_SYS_PROMPT="ap135 # "
CONFIG_CMD_DM=y
# CONFIG_EXPERT is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_FLASH is not set
CONFIG_FS_JFFS2=y
CONFIG_MTD_PARTITIONS=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS
# CONFIG_SYS_LONGHELP is not set
CONFIG_PINCTRL=y
CONFIG_PINCTRL_FULL=y
CONFIG_PINCTRL_GENERIC=y
CONFIG_PINMUX=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x18020000
CONFIG_DEBUG_UART_CLOCK=25000000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_DEBUG_UART_BOARD_INIT=y
CONFIG_SYS_NS16550=y
CONFIG_USE_PRIVATE_LIBGCC=y
CONFIG_OF_LIBFDT=y
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_OF_CONTROL=y
CONFIG_OF_BOARD=y
CONFIG_NET=y
CONFIG_DM_ETH=y
CONFIG_NETDEVICES=y
CONFIG_PHY_ATHEROS=y
CONFIG_AG7XXX=y
CONFIG_RGMII=y
CONFIG_MII=y
CONFIG_PCI=y
CONFIG_DM_PCI=y
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x10000000
CONFIG_SYS_TEXT_BASE=0x9f000000

