CONFIG_MIPS=y
CONFIG_TARGET_QCA955X=y
CONFIG_SYS_CONFIG_NAME="nbg6616"
CONFIG_SYS_PROMPT="NBG6616# "
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_ELF is not set
CONFIG_CMD_RUN=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_PING=y
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_FLASH=y
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_USE_PRIVATE_LIBGCC=y
CONFIG_SYS_MALLOC_F_LEN=0x200
CONFIG_SYS_MALLOC_F=y
CONFIG_OF_LIBFDT=y
# CONFIG_OF_LIBFDT_OVERLAY
# CONFIG_OF_CONTROL
# CONFIG_DEFAULT_DEVICE_TREE="ap135"
# CONFIG_DEFAULT_FDT_FILE="ap135.dtb"
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_SYS_TEXT_BASE=0x9f000000
CONFIG_NR_DRAM_BANKS=1
CONFIG_LAST_STAGE_INIT=y
